@charset "utf-8";
/* CSS Document */


/* #Basic Styles
================================================== */
	body {
		background:url(../images/moappibg.png) no-repeat top;
		background-color: #E2E2E2;
	}
	
	#mainWrapper{
		margin-top: 70px;
		background:#fff;
		padding: 20px;
		margin-bottom: 30px;	
	}
	
	.roundedCorners {
		 -moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;		
		behavior: url(border-radius.htc);
		border-radius: 10px;
		background-image: url(data:image/svg+xml;		charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IGZpbGw9IiNFMkUyRTIiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48cmVjdCBmaWxsPSIjZmZmIiByeD0iMTAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4=);		
	}
	
	.roundedCornersSmall{
		 -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;		
		behavior: url(border-radius.htc);
		border-radius: 5px;
		background-image: url(data:image/svg+xml;		charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IGZpbGw9IiNFMkUyRTIiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48cmVjdCBmaWxsPSIjZmZmIiByeD0iMTAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4=);			
	}
	

/* #Header
================================================== */	

	.header{
		font-family: 'Lato', sans-serif;		
		margin-left: 0px;
		margin-bottom: 50px;
	}

	.headerNavPrimary{
		float:right;
		margin-left: 30px;
		margin-top: 20px;
	}
	
	.headerNavSecondary{
		float:right;
		margin-left: 30px;
		margin-top: 20px;			
	}
	
	.headerNavPrimary a{
		color: #000;		
		text-decoration:none;
		text-align: right;
		font-size: 16px;
		font-weight: 300;	
	}

	.headerNavSecondary a{
		color: #939393;		
		text-decoration:none;
		text-align: right;
		font-size: 14px;
		font-weight: 300;	
	}
	
	.header a:hover{
		color:#3F8FD8;
	}
	
	.logo{
		background: url(../images/moappi.png) no-repeat left;
		width: 196px;
		height: 57px;
	}

/* #Front Page
================================================== */

	.feature h1{
		font-family: 'Lato', sans-serif;
		font-size: 24px;
		font-weight: 300;
		color: #3F8FD8;
	}

	.feature p{
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: #727272;
	}

	.video{
		background: url(../images/videobg.png) no-repeat right top;
		width: 460px;
		position: relative;
	}
	
	.videoCover{
		position: absolute;
		right: 0px;
		top: -7px;
		height: 205px;
		width: 411px;
	}
	
	.videoCover:hover{
		top: -4px;
	}
	
	.videoButton{
		height: 214px;
	}
	
	.formWrapper{
		width: 100%;
		height: 40px;
		margin-top: 10px;
	}
	
	.formTitle{
		position: absolute;
		margin-top: 15px;
		right: 260px;
		width: 160px;
		font-family: 'Lato', sans-serif;
		font-size: 12px;
		font-weight: 300;
		color: #000;		
	}
	
	input{
		border: 0px;
		border-bottom: solid 1px #999;
		position: absolute;
		right: 160px;
		height: 28px;
		width: 263px;
	}
	
	button{
		border:0px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 300;		
		position: relative;
		float: right;
		right: 0px;
		width: 187px;
	}
	
	.redButton{
		background-color: #C40000;
		color: white;
		padding: 10px;
	}
	
	.redButton:hover{
		background-color: #DB2626;
	}
	
	.grayButton{
		background-color: #CCC;
		color: #666;
		padding: 10px;
	}
	
	.grayButton:hover{
		color:#999;
	}
	
	.imgTileWrapper{			
		position: relative;
		float: left;
		width: 106px;
		margin-left: 20px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	
	.imgTileWrapper h2{
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: #000;	
	}
	
	.imgTileBg1{
		background: url(../images/tileBg1.png) no-repeat bottom;
	}
	
	.imgTileBg2{
		background: url(../images/tileBg2.png) no-repeat bottom;		
	}

	.imgTileBg3{
		background: url(../images/tileBg3.png) no-repeat bottom;		
	}		
	
	.imgTileWrapper img{
		position: relative;
		top: -2px;
	}
	
	.imgTileWrapper img:hover{
		top: 0px;	
	}

/* #Front Page Graphic
================================================== */

	.graphicWrapper{
		position: relative;
		height: 680px;
		width: 100%;
		background: url(../images/graphicbg.png) no-repeat top;
	}
	
	#graphic{
		position: absolute;
		left: 50%;
		margin-left: -162px;
		width: 323px;
		height: 490px;
		margin-top: 20px;
		background: url(../images/illustrationsprites.png) no-repeat 0 0;
	}
	
	.graphicSelector{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #000000;
		opacity: 0.6;
		margin-bottom:30px !important;
		cursor: default;
	}
	
	.graphicSelector li{
		margin-top: 5px;
		padding-top: 5px;
		list-style: none;
		border-top:#666 1px solid;
		font-size: 14px;
		font-weight: 300;		
		color:#666;		
	}
	
	.graphicSelector:hover{
		opacity: 1.0;
	}
	
	.appHostingIllustration{
		background: url(../images/graphicbg2.png) no-repeat top;		
	}
	
	.moreChevron{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: #3F8FD8;		
		float: right;
	}